@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0; }

img {
  width: 150px;
  height: 150px; }

.Flex-contactanos {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

body header .navbar {
  width: 100%;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #154e4e !important; }
  body header .navbar div .logo-index {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  body header .navbar div div ul li a {
    margin: 0px 10px 0px 0px;
    color: white !important;
    transition: 1s; }
    body header .navbar div div ul li a:hover {
      color: #8f0f0f !important; }

/*! INDEX */
main .login {
  position: fixed;
  bottom: 30px;
  right: 30px;
  list-style: none; }
  main .login li a img {
    width: 50px;
    height: 50px; }

main .cont-principal {
  background-image: url(../img/fondo-index.jpg);
  background-attachment: fixed;
  background-position: center; }
  main .cont-principal .titulo {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    padding-top: 20px; }
    main .cont-principal .titulo div {
      border: solid 4px white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 80%; }
      main .cont-principal .titulo div h1 {
        display: inline;
        justify-content: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 300;
        color: white;
        padding-top: 10px; }
      main .cont-principal .titulo div p {
        margin-top: 10px;
        color: white; }
  main .cont-principal .tarjeta {
    margin: 0px 0px 0px 0px;
    justify-content: space-around;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 300px;
    grid-template-areas: "foto1 foto2 foto3 foto4"; }
    main .cont-principal .tarjeta .primera-foto {
      grid-area: foto1;
      display: inline-block;
      margin-left: 40px;
      margin-right: 40px;
      border: solid 4px #08385f;
      padding: 20px;
      transition: 1s; }
      main .cont-principal .tarjeta .primera-foto:hover {
        background-color: #5252e4;
        transform: scale(1.1); }
      main .cont-principal .tarjeta .primera-foto img {
        width: 170px;
        height: 170px; }
      main .cont-principal .tarjeta .primera-foto h2 {
        color: white; }
      main .cont-principal .tarjeta .primera-foto p {
        background-color: black; }
        main .cont-principal .tarjeta .primera-foto p a {
          text-decoration: none;
          color: #f4f4f4;
          justify-content: center;
          padding: 30px; }
    main .cont-principal .tarjeta .segunda-foto {
      grid-area: foto2;
      display: inline-block;
      margin-left: 40px;
      margin-right: 40px;
      border: solid 4px #08385f;
      padding: 20px;
      transition: 1s; }
      main .cont-principal .tarjeta .segunda-foto:hover {
        background-color: #5252e4;
        transform: scale(1.1); }
      main .cont-principal .tarjeta .segunda-foto img {
        width: 170px;
        height: 170px; }
      main .cont-principal .tarjeta .segunda-foto h2 {
        color: white; }
      main .cont-principal .tarjeta .segunda-foto p {
        background-color: black; }
        main .cont-principal .tarjeta .segunda-foto p a {
          text-decoration: none;
          color: #f4f4f4;
          justify-content: center;
          padding: 30px; }
    main .cont-principal .tarjeta .tercera-foto {
      grid-area: foto3;
      display: inline-block;
      margin-left: 40px;
      margin-right: 40px;
      border: solid 4px #08385f;
      padding: 20px;
      transition: 1s; }
      main .cont-principal .tarjeta .tercera-foto:hover {
        background-color: #5252e4;
        transform: scale(1.1); }
      main .cont-principal .tarjeta .tercera-foto img {
        width: 170px;
        height: 170px; }
      main .cont-principal .tarjeta .tercera-foto h2 {
        color: white; }
      main .cont-principal .tarjeta .tercera-foto p {
        background-color: black; }
        main .cont-principal .tarjeta .tercera-foto p a {
          text-decoration: none;
          color: #f4f4f4;
          justify-content: center;
          padding: 30px; }
    main .cont-principal .tarjeta .cuarta-foto {
      grid-area: foto4;
      display: inline-block;
      margin-left: 40px;
      margin-right: 40px;
      border: solid 4px #08385f;
      padding: 20px;
      transition: 1s; }
      main .cont-principal .tarjeta .cuarta-foto:hover {
        background-color: #5252e4;
        transform: scale(1.1); }
      main .cont-principal .tarjeta .cuarta-foto img {
        width: 170px;
        height: 170px; }
      main .cont-principal .tarjeta .cuarta-foto h2 {
        color: white; }
      main .cont-principal .tarjeta .cuarta-foto p {
        background-color: black; }
        main .cont-principal .tarjeta .cuarta-foto p a {
          text-decoration: none;
          color: #f4f4f4;
          justify-content: center;
          padding: 30px; }

main .cont-video {
  background-color: black; }
  main .cont-video .video {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px; }
    main .cont-video .video .flex-videou p {
      background-color: #0f7c7c;
      color: rgba(0, 0, 0, 0.562);
      border: solid 3px white;
      width: 80%;
      padding-left: 25px;
      margin-left: 30px; }
    main .cont-video .video .flex-videou .videaco {
      width: 400px;
      height: 400px;
      padding-top: 15px;
      padding-bottom: 15px; }

/*! CONTACTOS */
.Flex-contactanos {
  background-color: aquamarine;
  padding: 60px auto;
  height: auto; }
  .Flex-contactanos .titulo-cont {
    display: flex;
    flex-direction: column; }
  .Flex-contactanos form div {
    display: flex;
    flex-direction: column;
    margin: 8px; }

/*! NOSOTROS */
.mainnosotros {
  background-color: #bf82f8; }
  .mainnosotros .h1nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 25px 0px;
    padding-top: 10px; }
    .mainnosotros .h1nosotros p {
      padding: 10px; }
  .mainnosotros .tarjetanosotros {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .mainnosotros .tarjetanosotros .centrar-nonsotros {
      padding: 10px;
      margin: 20px;
      border: solid 3px black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .mainnosotros .tarjetanosotros .centrar-nonsotros ul li {
        list-style: none; }
        .mainnosotros .tarjetanosotros .centrar-nonsotros ul li .logo-wpp {
          padding-right: 22px;
          height: 20vh; }
        .mainnosotros .tarjetanosotros .centrar-nonsotros ul li a .logo-insta {
          padding-right: 20px;
          padding-top: 17px; }
        .mainnosotros .tarjetanosotros .centrar-nonsotros ul li a .logo-face {
          padding-right: 21px; }
        .mainnosotros .tarjetanosotros .centrar-nonsotros ul li a .logo-telegram {
          padding-right: 26px;
          width: 160px; }
      .mainnosotros .tarjetanosotros .centrar-nonsotros p {
        text-decoration: underline; }

/*! SHOP */
.fondomain {
  background-color: #166180;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important; }
  .fondomain .h1shop {
    display: flex;
    justify-content: center;
    color: red; }
    .fondomain .h1shop h1 {
      margin-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px; }
  .fondomain .carousel {
    width: 800px; }
    .fondomain .carousel .carousel-inner .carousel-item img {
      width: 300px;
      height: 100vh; }
    .fondomain .carousel .carousel-inner .carousel-item div p a {
      text-decoration: none;
      background-color: black;
      color: #c51313;
      padding: 5px 10px 5px 10px; }
  .fondomain .display-none h5 {
    color: #166180;
    font-size: 1px; }
  .fondomain .display-none p {
    color: #166180;
    font-size: 1px; }
    .fondomain .display-none p a {
      color: #166180;
      text-decoration: none;
      font-size: 1px; }

/*! SUCURSAL */
.flex-sucursal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: crimson; }
  .flex-sucursal .titulosucursal {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .flex-sucursal .titulosucursal h1 {
      padding: 0px 0px 20px 0px;
      color: white;
      margin-top: 15px; }
    .flex-sucursal .titulosucursal p {
      padding: 20px 0pc 0pc 0pc;
      color: #0fc99a; }
  .flex-sucursal .maps {
    padding: 40px 0px 40px 0px; }
    .flex-sucursal .maps iframe {
      width: 600px; }

.pie-de-pagina {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pie-de-pagina img {
    width: 50px;
    height: auto; }
  .pie-de-pagina p {
    padding-left: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white; }

@media screen and (max-width: 1150px) {
  .tarjeta {
    grid-template-columns: repeat(2, 300px) !important;
    grid-template-rows: 300px 300px !important;
    grid-template-areas: "foto1 foto2" "foto3 foto4" !important;
    gap: 10px; }
  body main section .primera-foto {
    grid-area: foto1 !important; }
  body main section .segunda-foto {
    grid-area: foto2 !important; }
  body main section .tercera-foto {
    grid-area: foto3 !important; }
  body main section .cuarta-foto {
    grid-area: foto4 !important; }
  .cuerpo .tarjeta div img {
    width: 170px;
    height: 170px; }
  .maps iframe {
    width: 300px !important; } }

@media screen and (max-width: 890px) {
  .Flex-contactanos {
    flex-direction: column;
    height: auto; }
  .flex-sucursal {
    flex-direction: column; } }

@media screen and (max-width: 820px) {
  .video {
    flex-direction: column; }
  main .carousel {
    width: 350px !important; }
  main .carousel img {
    height: 400px !important;
    width: 400px !important; } }

@media screen and (max-width: 767px) {
  .display-none h5 {
    color: white !important;
    font-size: 15px !important; }
  .display-none p {
    color: white !important;
    font-size: 15px !important; }
  .display-none p a {
    text-decoration: none !important;
    background-color: black !important;
    color: #c51313 !important;
    padding: 5px 10px 5px 10px !important;
    font-size: 15px !important; } }

@media screen and (max-width: 600px) {
  .tarjeta {
    grid-template-columns: 300px !important;
    grid-template-rows: 300px 300px 300px 300px !important;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" !important;
    gap: 10px; }
  main .carousel img {
    height: 300px !important;
    width: 300px !important; }
  .titulo-cont {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .titulosucursal {
    align-items: center; }
  .videaco {
    width: 400px !important;
    height: 400px !important; } }

@media screen and (max-width: 500px) {
  .tarjetanosotros {
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .videaco {
    width: 300px !important;
    height: 300px !important; }
  .login li a img {
    width: 40px;
    height: 40px; }
  .Flex-contactanos form {
    width: 300px; } }
