/*! INDEX */
main{
    background-color: rgba(15, 201, 154, 0.596);
    background-attachment: fixed;
    .login{
        position: fixed;
        bottom: 30px;
        right: 30px;
        list-style: none;
        li{
            a{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px 0px 20px 0px;
        h1{
            display: inline;
            justify-content: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 300;
        }
        p{
            margin-top: 10px;
        }
    }
    .tarjeta{
        margin: 0px 0px 0px 0px;
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: 300px;
        grid-template-areas: 
        "foto1 foto2 foto3 foto4"
        ;
        .primera-foto{
            grid-area: foto1;
            display: inline-block;
            margin-left: 40px;
            margin-right: 40px;
            border: solid nth($border-solid, 3) rgb(0, 0, 0);
            padding: 20px;
            transition: 1s;
            &:hover{
                background-color: blue;
                transform: scale(1.1);
            }
            img{
                width: 170px;
                height: 170px;
            }
            h2{
                color: $colorh2;
            }
            p{
                background-color: black;
                a{
                    text-decoration: none;
                    color: #f4f4f4;
                    justify-content: center;
                    padding: 30px;
                }
            }
        }
        .segunda-foto{
            grid-area: foto2;
            display: inline-block;
            margin-left: 40px;
            margin-right: 40px;
            border: solid nth($border-solid, 3) rgb(0, 0, 0);
            padding: 20px;
            transition: 1s;
            &:hover{
                background-color: blue;
                transform: scale(1.1);
            }
            img{
                width: 170px;
                height: 170px;
            }
            h2{
                color: $colorh2;
            }
            p{
                background-color: black;
                a{
                    text-decoration: none;
                    color: #f4f4f4;
                    justify-content: center;
                    padding: 30px;
                }
            }
        }
        .tercera-foto{
            grid-area: foto3;
            display: inline-block;
            margin-left: 40px;
            margin-right: 40px;
            border: solid nth($border-solid, 3) rgb(0, 0, 0);
            padding: 20px;
            transition: 1s;
            &:hover{
                background-color: blue;
                transform: scale(1.1);
            }
            img{
                width: 170px;
                height: 170px;
            }
            h2{
                color: $colorh2;
            }
            p{
                background-color: black;
                a{
                    text-decoration: none;
                    color: #f4f4f4;
                    justify-content: center;
                    padding: 30px;
                }
            }
        }
        .cuarta-foto{
            grid-area: foto4;
            display: inline-block;
            margin-left: 40px;
            margin-right: 40px;
            border: solid nth($border-solid, 3) rgb(0, 0, 0);
            padding: 20px;
            transition: 1s;
            &:hover{
                background-color: blue;
                transform: scale(1.1);
            }
            img{
                width: 170px;
                height: 170px;
            }
            h2{
                color: $colorh2;
            }
            p{
                background-color: black;
                a{
                    text-decoration: none;
                    color: #f4f4f4;
                    justify-content: center;
                    padding: 30px;
                }
            }
        }
    }
    .video{
        @include flextend (flex, space-evenly, center);
        margin-top: 20px;
        .flex-videou{
            p{
            background-color: rgb(15, 124, 124);
            color: black;
            border: solid nth($border-solid, 2) white;
            }

        }
        .flex-videou{
            .videaco{
                width: 400px;
                height: 400px;
            }
        }
    }
}

/*! CONTACTOS */

.Flex-contactanos{
    background-color: aquamarine;
    @extend %flextend;
    padding: 60px auto;
    height: auto;
    .titulo-cont{
        display: flex;
        flex-direction: column;
    }
    form{
        div{
            display: flex;
            flex-direction: column;
            margin: 8px;
        }
    }
}

/*! NOSOTROS */
.mainnosotros{
    background-color: rgb(191, 130, 248);
    .h1nosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 0px 25px 0px;
        padding-top: 10px;
        p{
            padding: 10px;
        }
    }
    .tarjetanosotros{
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            padding: 10px;
            margin: 20px;
            border: solid 3px black;
            ul{
                li{
                    list-style: none;
                }
            }
            p{
                text-decoration: underline;
            }
        }
    }
}

/*! SHOP */

.fondomain{
    background-color: rgb(22, 97, 128);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    .h1shop{
        display: flex;
        justify-content: center;
        color: red;
        h1{
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
    }
    .carousel{
        width: 800px;
        .carousel-inner{
            .carousel-item{
                img{
                    width: 300px;
                    height: 100vh;
                }
                div{
                    p{
                        a{
                            text-decoration: none;
                            background-color: black;
                            color: rgb(197, 19, 19);
                            padding: 5px 10px 5px 10px;
                        }
                    }
                }
            }
        }
    }
    .display-none{

        h5{
            color: rgb(22, 97, 128);
            font-size: 1px;
        }
        p{
            color: rgb(22, 97, 128);
            font-size: 1px;
            a{
                color: rgb(22, 97, 128);
                text-decoration: none;
                font-size: 1px;
            }
        }
    }
}

/*! SUCURSAL */
.flex-sucursal{
    @include flextend (flex, space-around, center);
    background-color: crimson;
    .titulosucursal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1{
            padding: 0px 0px 20px 0px;
            color: white;
            margin-top: 15px;
        }
        p{
            padding: 20px 0pc 0pc 0pc;
            color: rgb(15, 201, 154);
        }
    }
    .maps{
        padding: 40px 0px 40px 0px;
        iframe{
            width: 600px;
        }
    }
}